@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(204, 43%, 93%);
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  font-family: "Lexend Deca", serif;
}

.container {
  max-width: 650px;
  border-radius: 8px;
  overflow: hidden;
}

.content-1 {
  background-color: hsla(0, 0%, 100%, 0.938);
  padding: 40px 0 40px 30px;
}

.content-1 h1 {
  font-size: 20px;
  color: hsl(179, 62%, 43%);
  font-weight: 700;
  padding-bottom: 25px;
}

.content-1 span {
  color: hsl(71, 97%, 48%);
  font-size: 16px;
  margin-bottom: 10px;
  display: block;
}

.content-1 ul {
  color: hsl(218, 22%, 67%);
  font-size: 15px;
  padding-top: 5px;
}
.content-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "aa dd"
    "bb cc";
}

.content-left {
  grid-area: bb;
  background-color: hsl(179, 62%, 43%);
  padding: 30px;
}

.content-left h1 {
  font-size: 16px;
  color: hsl(204, 43%, 93%);
  font-weight: 400;
  padding-bottom: 15px;
}

.content-left h2 {
  color: hsl(204, 43%, 93%);
  display: flex;
  align-items: center;
  font-weight: 350;
  /* margin-right: 10px; */
  font-size: 30px;
  padding-bottom: 12px;
}

.content-left p {
  color: hsl(204, 43%, 93%);
  font-weight: 300;
  font-size: 15px;
}

.content-left span {
  color: hsl(220, 37%, 97%);
  font-weight: 100;
  font-size: 14px;
  padding-left: 10px;
}

.content-left a {
  text-decoration: none;
  color: hsl(220, 37%, 97%);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 18px;
  background-color: hsl(71, 73%, 54%);
  border-radius: 10px;
}

.content-right {
  grid-area: cc;
  background-color: hsl(180, 57%, 57%);
  padding: 30px;
}

.content-right h1 {
  font-size: 17px;
  color: hsl(204, 43%, 93%);
  font-weight: 400;
  padding-bottom: 15px;
}

.content-right ul {
  color: hsl(200, 4%, 86%);
  font-weight: 200;
  font-size: 15px;
  padding: 2px;
}
